img {
    width:  100px;
    height: 100px;
    object-fit: cover;
}
nav{
    background-color: rgba(183, 139, 205, 0.687);
    border:solid thin black;
}
body{
    background-color:rgba(255, 192, 203, 0.606);
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 7;
    padding: 5;
}
nav ul li {
    margin: 0 15px;
}